@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Science+Gothic:wght@100..900&display=swap');
@import "tailwindcss";

.science {
  font-family: "Science Gothic", sans-serif;

}
.font-outfit {
  font-family: "Outfit", sans-serif;
}
.font-ply {
  font-family: "Playfair", sans-serif;
}
